.section3 {
  background-color: #ffeaea;
}

.section3-wrapper {
  position: relative;
  width: 1440px;
  height: 1024px;
  padding-top: 250px;
  margin: 0 auto;
}

.section3 .text-top-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1135px;
  margin: 0 auto;
}

.section3 .line-up {
  height: 2px;
  background-color: #fff;
}

.section3 .sec-title {
  font-family: "Alef", sans-serif;
  float: right;
  font-size: 50px;
  font-weight: bold;
  font-family: Noto Sans KR;
}

.section3 .image {
  position: absolute;
  top: 300px;
  left: 10%;
}

.section3 .icecream2 {
  /* width: px; */
  height: 450px;
  object-fit: cover;
}

.section3 .icecream1 {
  position: absolute;
  top: 100px;
  left: 420px;
  object-fit: cover;
}

.text-bottom-area {
  width: 1135px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section3 .desc {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  padding-top: 25px;
  font-weight: bold;
}

.text-bottom-area div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.section3 .line-down {
  width: 380px;
  height: 2px;
  background-color: #fff;
}

.section3 .viewmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0px 260px 0;
  padding: 15px 40px;
  width: 240px;
  border-radius: 50px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  z-index: 10;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, .2);
}

.section3 .viewmore p {
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.section3 .viewmore:hover {
  transition: box-shadow 500ms ease-in-out;
  box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
}

.section3 .viewmore:hover p,
.section3 .viewmore:hover .icon {
  transition: scale 500ms ease-in-out;
  scale: 1.1;
}

.fade-in-left {
  animation: fade-in-left 3s ease infinite alternate-reverse;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    width: 10px;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    width: 600px;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fade-in-right 3s ease infinite alternate-reverse;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    width: 10px;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    width: -450px;
    transform: translateX(0);
  }
}