.section3 {
  position: relative;
  background-color: #ffeaea;
}

.section3-wrapper {
  width: 1440px;
  height: 1024px;
  padding-top: 230px;
  margin: 0 auto;
}

.section3 .text-top-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1135px;
  margin: 0 auto;
}

.section3 .line-up {
  width: 610px;
  height: 2px;
  background-color: #fff;
}

.section3 .sec-title {
  font-family: "Alef", sans-serif;
  float: right;
  padding-right: 100px;
  font-size: 50px;
  font-weight: bold;
  font-family: Noto Sans KR;
}

.section3 .image {
  position: absolute;
  top: 160px;
  left: 300px;
}

.section3 .icecream {
  width: 485px;
  height: 590px;
  object-fit: cover;
}

.section3 .ice-cream {
  position: absolute;
  top: 156px;
  left: 420px;
  object-fit: cover;
}

.text-bottom-area {
  width: 1135px;
  margin: 0 auto;
  display: flex;
  gap: 75px;
  flex-direction: column;
  align-items: flex-end;
}

.section3 .desc {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 17px;
  letter-spacing: -1px;
  padding-top: 50px;
  font-weight: bold;
}

.text-bottom-area div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.section3 .line-down {
  width: 450px;
  height: 2px;
  margin-top: 100px;
  background-color: #fff;
}

.section3 .viewmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
  padding: 15px 40px;
  width: 250px;
  border-radius: 50px;
  background-color: #fff;
  border: none;
}

.section3 .viewmore p {
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-right: 10px;
}

.section3 .viewmore:hover {
  cursor: pointer;
  transition: box-shadow 500ms ease-in-out;
  box-shadow: 5px 5px 10px #ccc;
}

.section3 .viewmore:hover p {
  transition: scale 500ms ease-in-out;
  scale: 1.1;
}


.fade-in-left {
  animation: fade-in-left 3s ease infinite;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    width: 10px;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    width: 600px;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fade-in-right 3s ease infinite;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    width: 10px;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    width: -450px;
    transform: translateX(0);
  }
}