.section3 {
  position: relative;
  background-color: #ffeaea;
}

.section3 .line-up {
  position: absolute;
  top: 230px;
  left: 200px;
  width: 610px;
  height: 30px;
  border-bottom: 2px solid #fff;
}

.section3 .image {
  position: absolute;
  top: 160px;
  left: 200px;
}

.section3 .icecream {
  width: 485px;
  height: 590px;
  object-fit: cover;
}

.section3 .ice-cream {
  position: absolute;
  top: 156px;
  left: 420px;
  object-fit: cover;
}

.section3 .text {
  position: absolute;
  top: 250px;
  right: 400px;
  text-align: center;
}

.section3 .text h1 {
  font-family: "Alef", sans-serif;
  font-size: 50px;
}

.section3 .text p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  padding-top: 50px;
  font-weight: bold;
}

.section3 .view {
  position: absolute;
  top: 45%;
  right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 72px;
  background-color: #fff;
  font-weight: bold;
  border-radius: 100px;
}

.section3 .view p {
  font-family: "Arimo", sans-serif;
  padding-right: 10px;
}

.section3 .view:hover {
  cursor: pointer;
  transition: box-shadow 500ms ease-in-out;
  box-shadow: 5px 5px 10px #ccc;
}

.section3 .line-down {
  position: absolute;
  bottom: 100px;
  left: 800px;
  width: 450px;
  height: 30px;
  border-bottom: 2px solid #fff;
}

.fade-in-left {
  animation: fade-in-left 3s ease infinite;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    width: 10px;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    width: 600px;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fade-in-right 3s ease infinite;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    width: 10px;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    width: -450px;
    transform: translateX(0);
  }
}
