.section5 {
  background-color: #fff;
}

.section5-wrapper {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
}

/********** 아이스크림 이미지 위치, 사이즈 조정 **********/
.section5 .images img {
  position: absolute;
  animation-iteration-count: infinite;
}

.section5 .item {
  opacity: 0;
}

.section5 .icecream_1 {
  width: 200px;
  top: 500px;
  left: -20px;
  animation: fade-in-item 8s .2s ease-out forwards;
}

.section5 .icecream_2 {
  width: 250px;
  top: 330px;
  left: 50px;
  animation: fade-in-item 8s .4s ease-out forwards;
}

.section5 .icecream_3 {
  width: 300px;
  top: 140px;
  left: 150px;
  animation: fade-in-item 8s .6s ease-out forwards;
}

.section5 .icecream_4 {
  width: 333px;
  top: 10px;
  left: 330px;
  animation: fade-in-item 8s .8s ease-out forwards;
}

.section5 .icecream_5 {
  width: 400px;
  top: -35px;
  right: 465px;
  animation: fade-in-item 8s 1s ease-out forwards;
}

.section5 .icecream_6 {
  width: 430px;
  top: 100px;
  right: 170px;
  animation: fade-in-item 8s 1.2s ease-out forwards;
}

.section5 .icecream_7 {
  width: 480px;
  top: 350px;
  right: -55px;
  animation: fade-in-item 8s 1.4s ease-out forwards;
}

/**************************************************/

.dripping-img {
  bottom: -226px;
}

.s5-text {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  text-align: center;
}

/* .sec-title 공통 */
.sec-title {
  font-size: 50px;
  font-weight: bold;
  font-family: Noto Sans KR;
}

.s5-text .sec-title {
  padding-left: 150px;
  text-align: left;
}



/* slider세팅 */
.section5 .sec5-carousel {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  /* border: 1px solid #000; */
  width: 700px;
  height: 270px;
}

.section5 .slide-item {
  position: relative;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section5 .slide-item .slide-img {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.section5 .slide-text {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: -0.5px;
  font-family: Noto Sans KR;
}



/* 애니메이션 */
@keyframes fade-in-item {
  0% {
    display: block;
    opacity: 0;
  }

  30% {
    display: block;
    opacity: .5;
  }

  60% {
    display: block;
    opacity: 1;
  }

  100% {
    display: block;
    opacity: 0;
  }
}