.header-wrap {
  position: relative;
  margin: 20px 0;
  height: 60px;
}

.header-wrap img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 60px;
}

.header-wrap .toggle-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #600D22;
}

.header-wrap .side-btn:hover {
  opacity: 80%;
}


/* --- sidebar --- */

.sd-header {
  position: relative;
}

.sd-header .navbar-brand {
  padding: 40px 0;
}

.sd-header .navbar-brand img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  padding: 20px;
  width: auto;
  height: 80px;
}

.sd-header .close {
  position: absolute;
  top: 26px;
  left: 20px;
  color: #600D22;
}

.btn-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}

.btn-wrap button {
  padding: 4px 6px;
  border: 1px solid #600D22;
  border-radius: 5px;
  background-color: #fff;
  color: #600D22;
}

.btn-wrap button:hover {
  border: 1px solid #600D22;
  background-color: #600D22;
  color: #fff;
}

.btn-wrap button {
  margin-right: 10px;
}
.btn-wrap button:last-child {
  margin-right: 0;
}

.line {
  margin: 20px 0;
  width: 100%;
  border: 1px solid rgb(218, 218, 218);
}

.sidebar{
  width: 280px;
  min-height: 100vh;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.16); /* 오른쪽으로 그림자 표시 */
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -280px; /* 초기에는 오른쪽에서 왼쪽으로 숨김 */
  z-index: 1000;
  transition: 0.5s;
}
.sidebar.active{
  right: 0; /* active 클래스 추가 시 오른쪽으로 나타남 */
}
.sd-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.sd-body{
  padding: 0 15px;
  max-height: calc(100vh - 67px);
  overflow-x: hidden;
}
.sd-body ul{
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}
.sd-body ul li{
  list-style: none;
  margin-bottom: 8px;
}
.sd-body ul li .sd-link{
  display: inline-block;
  width: 100%;
  padding: 10px 16px;
  color: #475f7b;
  background-color: #e5e8ec;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 500;
}
.sidebar-overlay.active{
  opacity: 1;
  visibility: visible;
}