@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Jaldi&family=Martel+Sans&display=swap");

.loadingBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #600624;
  z-index: 800;
  animation: softRemove 2s 2s forwards;
}

.loadingBackground h1 {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translateY(-50%);
  font-family: "Martel Sans", sans-serif;
  letter-spacing: 5px;
  color: #fff;
  font-size: 105px;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, .5);
}

.loadingBackground img {
  position: absolute;
  top: 122px;
  right: 300px;
  width: 600px;
  object-fit: cover;
}




@keyframes softRemove {

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}