.section2 {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.section2-wrapper {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
}


/* circle img */

.section2-wrapper .circle-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}

.section2-wrapper .circle-img .circle {
  width: 530px;
  height: 530px;
  animation: rotate_image 30s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image{
  100% {
    transform: rotate(360deg);
  }
}

.section2-wrapper .circle-img .icecreamcup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
  width: 350px;
  height: 350px;
  object-fit: contain;
}


/* txt-wrap */

.section2-wrapper .section2-txt-wrap .section2-txt {
  position: absolute;
  top: 30%;
  left: 10%;
}

.section2-wrapper .section2-txt span {
  font-size: 25px;
  font-weight: 700;
  color: #600624;
}

.section2-wrapper .section2-txt p {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 700;
  color: black;
}



/* view 버튼 */

.section2-txt-wrap .viewmore {
  position: absolute;
  bottom: 46%;
  left: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 40px;
  width: 250px;
  border-radius: 50px;
  background-color: #fff;
  border: none;
}

.section2-txt-wrap .viewmore p {
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.section2-txt-wrap .viewmore:hover {
  transition: box-shadow 500ms ease-in-out;
  box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
}

.section2-txt-wrap .viewmore:hover p,
.section2-txt-wrap .viewmore:hover .icon {
  transition: scale 500ms ease-in-out;
  scale: 1.1;
}