.section2 {}

.section2-wrapper {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
}


/* circle img */

.section2-wrapper .circle-img {
  position: absolute;
  top: 25%;
  transform: translateY(-30%);
  right: 10%;
}

.section2-wrapper .circle-img .circle {
  width: 500px;
  height: 500px;
  animation: rotate_image 30s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.section2-wrapper .circle-img .icecreamcup {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: 80px;
  width: 330px;
  height: 330px;
  object-fit: contain;
}


/* txt-wrap */

.section2-wrapper .section2-txt-wrap .section2-txt {
  position: absolute;
  top: 24%;
  left: 10%;
}

.section2-wrapper .section2-txt .best-txt {
  color: #600624;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -1px;
  font-family: "IBM Plex Sans", sans-serif;
}

.section2-wrapper .section2-txt p {
  margin-top: 20px;
  color: black;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -5px;
  font-family: "BIZ UDPGothic", sans-serif;
}



/* view 버튼 */

.section2-txt-wrap .viewmore {
  position: absolute;
  top: 40%;
  left: 34%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px;
  padding: 15px 40px;
  width: 240px;
  border-radius: 50px;
  background-color: #fff;
  border: none;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, .2);
}

.section2-txt-wrap .viewmore p {
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.section2-txt-wrap .viewmore:hover {
  transition: box-shadow 500ms ease-in-out;
  box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
}

.section2-txt-wrap .viewmore:hover p,
.section2-txt-wrap .viewmore:hover .icon {
  transition: scale 500ms ease-in-out;
  scale: 1.1;
}


/* slider */
.sec2-carousel {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 1440px;
  height: 300px;
  margin: 0 auto;
}

.sec2-carousel .slick-slide {
  margin: 0 10px;
}

.sec2-carousel .slide-item {
  position: relative;
  width: 300px;
  height: 300px;
}

/* 아이템 배경 */

.sec2-carousel .item1 {
  background-color: #FFF4CA;
}

.sec2-carousel .item2 {
  background-color: #E5D9BD;
}

.sec2-carousel .item3 {
  background-color: #FFDCE7;
}

.sec2-carousel .item4 {
  background-color: #FFDDCF;
}

.sec2-carousel .item5 {
  background-color: #D2FFE2;
}

.sec2-carousel .slide-item a {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.sec2-carousel .slide-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 200px;
}

.sec2-carousel .slide-text {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  text-align: center;
  letter-spacing: -1px;
  font-family: "BIZ UDPGothic", sans-serif;
}