@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.notsanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "S-CoreDream-3Light", "Noto Sans KR", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
